/* Theme */
:root {
  --text: rgb(161 161 170);
  --text-500: rgb(211 211 220);
  --text-900: rgb(246 246 255);

  --light: rgb(255 255 255);

  --dark: rgb(0 0 0);
  --dark-500: rgb(100 100 110);
  --dark-900: rgb(10 10 11);
}

/* Reset */
html,
body {
  color: var(--text-900);
  background-color: var(--dark-900);
  background-image: url(/grid.svg);
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Text */
p {
  color: var(--text);
}

/* Links */
a {
  color: var(--text-900);
  text-underline-offset: 2px;
  text-decoration: none;
}

nav > a {
  text-decoration: underline;
}
